<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Welcome! </title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="/stylesheets/game.css" rel="stylesheet">
</head>
<body>
    <div id="container" class="col">
        <canvas id="game-area"></canvas>

        <!-- Game Start Countdown -->
        <div id="game-start" class="center start-text">
            <h1 id="countdown">Game Start!</h1>
        </div>

        <!-- Game Over Text -->
        <div id="game-over" class="center end-text hidden">
            <h1>Game Over</h1>
        </div>

        <!-- Results Table -->
        <div id="results-box" class="center results-text hidden">
            <h2>Results</h2>
            <table id="results-table">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Results will be populated dynamically -->
                </tbody>
            </table>
            <h3 id="winner-text">Winner: </h3>
            <button id="restart-game">Restart</button>
        </div>

        <!-- Timer -->
        <div id="timer-box" class="right-top timer-text hidden">
            <span id="timer">Time: 60</span>
        </div>

        <!-- Score -->
        <div id="score-box" class="left-top score-text hidden">
            <span id="score">Score: 0</span>
        </div>
    </div>
    <div id="signin-overlay" class="overlay row"></div>

    <script src="/scripts/boundingBox.js"></script>
    <script src="/scripts/sprite.js"></script>
    <script src="/scripts/item.js"></script>
    <script src="/scripts/player.js"></script>
    <script src="/scripts/game.js"></script>

    <script>
    const playersData = '<%- JSON.stringify(playersData) %>';
    const settings = '<%- JSON.stringify(settings) %>';
    const user = '<%- JSON.stringify(user) %>';

    $(function() {
        /* Get the canvas and 2D context */
        const canvas = document.getElementById("game-area");
        const ctx = canvas.getContext("2d");

        // Set canvas size using container size
        const container = $('#container');

        canvas.width = container.width();
        canvas.height = container.height();

        let animationFrameId;

        const sounds = {
            background: new Audio("/resources/background.mp3"),
            food: new Audio("/resources/food.mp3"),
            item: new Audio("/resources/collect.mp3"),
            hit: new Audio("/resources/hit.mp3"),
            gameover: new Audio("/resources/gameover.mp3")
        };

        // Create the items
        let items = createItems(ctx, canvas);

        // Create Players
        let player = createPlayers(JSON.parse(playersData), ctx, canvas);

        // Handle keydown/up events
        handleKeyDownUp(player);

        // Set of correct item types
        const correctItems = new Set(['cake', 'cherry', 'melon', 'orange', 'banana', 'poo', 'sign']);

        /* Main processing of the game */
        function doFrame(now) {
            // Update the canvas size dynamically
            canvas.width = container.width();
            canvas.height = container.height();

            // Update all items
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            for (let item of items) {
                if (item.sprite().isAnimated()) { // Check if the sprite is animated
                    item.update(now);
                }
                item.move(now, item.getAngle());
                item.draw();
            }

            // Update the player
            player.update(now);
            player.draw();

            // Collision detection
            for (let item of items) {
                if (checkCollision(player, item)) {
                    console.log(item.getItem())
                    if (correctItems.has(item.getItem())) {
                        if (item.getScore() < 0) sounds.hit.play();
                        if (item.getScore() > 0) sounds.food.play();
                        if (item.getScore() === 0) sounds.item.play();

                        const temp = checkCheat();
                        if (temp){
                            if (item.getScore() < 0){
                                item.randomize(canvas);
                            }
                        } else {
                            player.updateScore(item.getScore());
                            $('#score').text('Score: ' + player.getScore());
                            item.randomize(canvas);
                        }
                    }
                    item.randomize(canvas);

                }
            }

            requestAnimationFrame(doFrame);
        }

        $(document).ready(function () {
            startCountdown();
            $('#restart-game').click(function () {
                $('#results-box').addClass('hidden');
                $('#game-over').addClass('hidden');
                $('#timer-box').removeClass('hidden');
                $('#score-box').removeClass('hidden');
                $('#game-area').show();
                startCountdown();
            });
        });

        function startCountdown() {
            const countdownElem = $('#countdown');
            let countdown = 3;

            countdownElem.text(countdown);
            $('#game-start').show();
            $('#timer-box').addClass('hidden');
            $('#score-box').addClass('hidden');
            $('#game-over').addClass('hidden');
            $('#results-box').addClass('hidden');
            $('#game-area').hide();

            const countdownInterval = setInterval(() => {
                countdown--;
                if (countdown > 0) {
                    countdownElem.text(countdown);
                } else {
                    countdownElem.text("Game Start!");
                }

                if (countdown < 0) {
                    clearInterval(countdownInterval);
                    $('#game-start').hide();
                    $('#timer-box').removeClass('hidden');
                    $('#score-box').removeClass('hidden');
                    $('#game-area').show();
                    startGame();
                }
            }, 1000);
        }

        function startGame() {
            let timeLeft = JSON.parse(settings).time;

            $('#timer').text('Time: ' + timeLeft);
            // Play Background Music
            sounds.background.play();

            const gameInterval = setInterval(() => {
                if (timeLeft <= 0) {
                    clearInterval(gameInterval);
                    endGame();
                } else {
                    timeLeft--;
                    $('#timer').text('Time: ' + timeLeft);
                }
            }, 1000);

            animationFrameId = requestAnimationFrame(doFrame);
        }

        function endGame() {
            cancelAnimationFrame(animationFrameId);

            sounds.background.pause();
            sounds.food.pause();
            sounds.hit.pause();
            sounds.item.pause();
            sounds.gameover.play();

            $('#game-over').removeClass('hidden');
            $('#timer-box').addClass('hidden');
            $('#score-box').addClass('hidden');
            $('#game-area').hide();

            setTimeout(() => {
                $('#game-over').addClass('hidden');
                // Show results or other actions here
            }, 2000);
        }

    });
    </script>
</body>
</html>
