<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Feed Me! </title>
    <link rel="icon" href="../resources/green.png">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="/stylesheets/game.css" rel="stylesheet">
</head>
<body>
    <div id="container" class="col">
        <canvas id="game-area"></canvas>

        <!-- Game Start Countdown -->
        <div id="game-start" class="center start-text">
            <h1 id="countdown">Game Start!</h1>
        </div>


        <!-- Game Over Text -->
        <div id="game-over" class="center end-text hidden">
            <h1>Game Over</h1>
        </div>

        <!-- Results Table -->
        <div id="results-box" class="center results-text hidden">
            <h2>Results</h2>
            <table id="results-table">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Results will be populated dynamically -->
                </tbody>
            </table>
            <h3 id="winner-text">Winner: </h3>
            <button id="restart-game">Restart</button>
        </div>

        <!-- Timer -->
        <div id="timer-box" class="right-top timer-text hidden">
            <span id="timer">Time: 60</span>
        </div>

        <!-- Score -->
        <div id="score-box" class="left-top score-text hidden">
            <span id="score">Score: 0</span>
        </div>
    </div>
    <div id="signin-overlay" class="overlay row"> </div>

    <script src="/scripts/boundingBox.js"></script>
    <script src="/scripts/sprite.js"></script>
    <script src="/scripts/item.js"></script>
    <script src="/scripts/player.js"></script>
    <script src="/scripts/game.js"></script>

    <script>
    const playersData = '<%- JSON.stringify(playersData) %>';
    const settings = '<%- JSON.stringify(settings) %>';
    const user = '<%- JSON.stringify(user) %>';
    const lobbyCode = '<%- JSON.stringify(lobbyCode) %>';

    $(function() {
        /* Get the canvas and 2D context */
        const canvas = document.getElementById("game-area");
        const ctx = canvas.getContext("2d");

        // Set canvas size using container size
        const container = $('#container');

        canvas.width = container.width();
        canvas.height = container.height();

        const sounds = {
            background: new Audio("/resources/background.mp3"),
            food: new Audio("/resources/food.mp3"),
            item: new Audio("/resources/collect.mp3"),
            hit: new Audio("/resources/hit.mp3"),
            gameover: new Audio("/resources/gameover.mp3")
        };

        // Create the items
        let items = createItems(ctx, canvas);

        // Create Players
        let currentPlayer = JSON.parse(user);
        let player = createPlayers(JSON.parse(playersData), currentPlayer, ctx, canvas);

        // Handle keydown/up events
        handleKeyDownUp(player);

        // Set for timeLeft
        let timeLeft = Math.ceil(JSON.parse(settings).time);
        //let timeLeft = 100;
        let gameStartTime = 0;      // The timestamp when the game starts

        // Set of correct item types
        const correctFruits = new Set(['cake', 'cherry', 'melon', 'orange', 'banana', 'poo', 'sign']);
        const correctItems = new Set(['candy', 'glass', 'timer', 'flake','party']);

        // Candy effect
        let eatCandy = false;

        // Sunglass effect
        const rainbowColors = ["red", "orange", "yellow", "green", "blue", "indigo", "violet"];
        let colorChangeInterval;

        function startColorChangeEffect() {
            let colorIndex = 0;
            colorChangeInterval = setInterval(() => {
                console.log("color changes: ", rainbowColors[colorIndex % rainbowColors.length])
                $('body').css(
                    {
                        'background-color': rainbowColors[colorIndex % rainbowColors.length],
                        'background-image': 'none'
                    });
                colorIndex++;
            }, 100); // Change color every 100ms
        }

        function stopColorChangeEffect() {
            clearInterval(colorChangeInterval);
            $('body').css({
                'background-color': '',
                'background-image': 'url("../resources/game.png")'
            });
        }

        /* Main processing of the game */
        function doFrame(now) {
            if (gameStartTime === 0) gameStartTime = now;
            /* Update the time remaining */
            const gameTimeSoFar = now - gameStartTime;
            const timeRemaining = Math.ceil((timeLeft * 1000 - gameTimeSoFar) / 1000);
            $('#timer').text('Time: ' + timeRemaining);

            if(timeRemaining <= 0)  {
                clearInterval(doFrame);
                endGame();
                return;
            }
            // Play Background Music
            sounds.background.play();
            // Update the canvas size dynamically
            canvas.width = container.width();
            canvas.height = container.height();

            // Update all items
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            for (let item of items) {
                if (item.sprite().isAnimated()) { // Check if the sprite is animated
                    item.update(now);
                }
                item.move(now, item.getAngle());
                item.draw();
            }

            // Update the player
            player.update(now, canvas);
            player.draw();

            // Collision detection
            for (let item of items) {
                if (checkCollision(player, item)) {
                    console.log("item: ", item.getItem())

                    // Fruits
                    if (correctFruits.has(item.getItem()) && (item.getScore() !== 0)) {
                        let itemScore = item.getScore();

                        // Negative fruits
                        if (item.getScore() < 0) {
                            console.log("Candy state: ", eatCandy)
                            if (eatCandy){
                                console.log("Candy effect active, negative score ignored")
                                itemScore = 0;
                            } else {
                                sounds.hit.play();
                            }
                        }

                        // Positive fruits
                        else if (item.getScore() > 0) {
                            sounds.food.play();
                        }

                        player.updateScore(itemScore); // update score for all fruits
                        $('#score').text('Score: ' + player.getScore());
                        //item.randomize(canvas);
                    }

                    // Items
                    if (correctItems.has(item.getItem()) && (item.getScore() === 0)) {
                        sounds.item.play();

                        // Candy effect: Removes negative effect for 5s
                        if (item.getItem() === 'candy'){
                            console.log("touched the candy");
                            eatCandy = true;
                            setTimeout(() => {
                                eatCandy = false
                                console.log("Candy effect ended")
                            }, 5000);
                        }

                        // Timer effect: Adds 7s to the timer
                        if (item.getItem() === 'timer') {
                            console.log("touched the timer");
                            timeLeft += 7;
                        }

                        // Party effect: Speeds up the player for 5s
                        if (item.getItem() === 'party') {
                            console.log("touched the party");
                            player.speedUp();
                            console.log("Player speed : ", player.getSpeed());
                            setTimeout(() => {
                                player.normalSpeed();
                            }, 5000);
                        }

                        // Flake effect: Slows down the player for 5s
                        if (item.getItem() === 'flake') {
                            console.log("touched the flake");
                            player.slowDown();
                            console.log("Player speed: ", player.getSpeed());
                            setTimeout(() => {
                                player.normalSpeed();
                            }, 5000);
                        }

                        // Sunglass effect: Makes the items messy for 5s
                        if (item.getItem() === 'glass') {
                            console.log("touched the glass");
                            startColorChangeEffect();
                            setTimeout(() => {
                                stopColorChangeEffect();
                            }, 5000);  //5 seconds
                        }
                    }

                    item.randomize(canvas);

                }
            }

            requestAnimationFrame(doFrame);
        }

        $(document).ready(function () {
            startCountdown();
            $('#restart-game').click(function () {
                $('#results-box').addClass('hidden');
                $('#game-over').addClass('hidden');
                $('#timer-box').removeClass('hidden');
                $('#score-box').removeClass('hidden');
                $('#game-area').show();
                startCountdown();
            });
        });

        function startCountdown() {
            const countdownElem = $('#countdown');
            let countdown = 3;

            countdownElem.text(countdown);
            $('#game-start').show();
            $('#timer-box').addClass('hidden');
            $('#score-box').addClass('hidden');
            $('#game-over').addClass('hidden');
            $('#results-box').addClass('hidden');
            $('#game-area').hide();

            const countdownInterval = setInterval(() => {
                countdown--;
                if (countdown > 0) {
                    countdownElem.text(countdown);
                } else {
                    countdownElem.text("Game Start!");
                }

                if (countdown < 0) {
                    clearInterval(countdownInterval);
                    $('#game-start').hide();
                    $('#timer-box').removeClass('hidden');
                    $('#score-box').removeClass('hidden');
                    $('#game-area').show();
                    try {
                        sounds.background.play().catch((error) => {
                            console.log("Audio play failed: ", error);
                        });
                    } catch (error) {
                        console.log("Error playing background music: ", error);
                    }
                    requestAnimationFrame(doFrame);
                }
            }, 1000);
        }

        function endGame() {
            //cancelAnimationFrame(animationFrameId);
            sounds.background.pause();
            sounds.food.pause();
            sounds.hit.pause();
            sounds.item.pause();
            sounds.gameover.play();

            $('#game-over').removeClass('hidden');
            $('#timer-box').addClass('hidden');
            $('#score-box').addClass('hidden');
            $('#game-area').hide();

            setTimeout(() => {
                $('#game-over').addClass('hidden');
                window.location.href = "/lobby";
            }, 10000);
        }

    });
    </script>
</body>
</html>