<!DOCTYPE html>
<html>
<head>
<title>Feed Me!</title>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<link href="../stylesheets/lobby.css" rel="stylesheet">
<link rel="icon" href="../resources/green.png">

</head>

<body>
    <div id="container" class="col"> 
        <div id="game-lobby">
            <div id="game-panel" class="col">
                <div id="lobby-settings" class="col center"></div>
                <div id="lobby-buttons" class="col center">
                    <button id="howto" class="secondary">GUIDE</button>
                    <button id="leave-lobby" class="secondary">LEAVE</button>
                    <button id="ready" class="primary">READY</button>
                </div>
            </div>
            <div class="spacer-vline"></div>
            <div id="game-players">
                <div id="p1" class="player-box"></div>
                <div id="p2" class="player-box"></div>
                <div id="p3" class="player-box"></div>
                <div id="p4" class="player-box"></div>
            </div>
        </div>
    </div>
    <div id="user-panel">
        <span id="user-name" style="color:var(--caption-color)">Hi</span>
        <button id="signout-button">Sign Out<img height="20px" src="../resources/logout.svg"></button>
    </div>
    <script src="/socket.io/socket.io.min.js"></script>
    <script src="../scripts/authentication.js"></script>
    <script src="../scripts/lobby.js"></script>
    <script src="../scripts/socket_lobby.js"></script>


    <script>
        // Prevent going back
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
        const lobby = '<%- lobby %>';
        Lobby.initialize('<%= code %>', JSON.parse(lobby));
        Authentication.validate(
            () => {
                Socket.connect(() => {
                    Lobby.validate(
                    () => {
                        UserPanel.initialize();
                    },
                    (err) => {
                        console.log(err);
                        window.location.href = "/login"
                    }
                );            
                });
                
            },
            () => {
                console.log("No user");
                window.location.href = "/login"
            }
        );
    </script>

</body>
</html>