<!DOCTYPE html>
<html>
<head>
<title>Feed Me!</title>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<link href="stylesheets/lobby.css" rel="stylesheet">

</head>
<body>
    <div id="container" class="col"> 
        Lobby Page!
    </div>
    <script src="/socket.io/socket.io.min.js"></script>
</body>
</html>