<!DOCTYPE html>
<html>
<head>
<title>Feed Me!</title>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<link href="stylesheets/login.css" rel="stylesheet">

</head>
<body>
    <div id="container" class="col"> 
    </div>
    <div id="signin-overlay" class="overlay row">
        <div class="content shadow">
        <img id="overlay-title" src="resources/feed_me.svg" width="300px"/>
        <form id="signin-form">
            <div class="form-title">SIGN IN</div>
        </form>
        <div class="spacer-vline"></div>
        <form id="register-form">
            <div class="form-title">REGISTER</div>

        </form>
        </div>
    </div>

    <script src="/socket.io/socket.io.min.js"></script>
    <script src="scripts/login.js"></script>
    <script src="scripts/authentication.js"></script>
    <script src="scripts/socket.js"></script>

    <script>
        $(function() {
            SignInForm.initialize();
            Authentication.validate(
                () => {
                    SignInForm.hide();
                    Socket.connect();
                },
                () => {
                    SignInForm.show();
                }
            );
        });
        </script>
</body>
</html>