<!DOCTYPE html>
<html>
<head>
<title>Feed Me!</title>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<link href="stylesheets/login.css" rel="stylesheet">

</head>
<body>
    <div id="container" class="col"> 
    </div>
    <div id="signin-overlay" class="overlay row">
        <div class="content shadow row">
        <img id="overlay-title" src="resources/feed_me.svg" width="300px"/>
        <form id="signin-form" class="col">
            <label name="userid">User ID</label>
            <input id="signin-userid" name="userid" placeholder="User ID"></input>
            <label name="password">Password</label>
            <input id="signin-password" type="password" name="password" placeholder="Password"></input>
            <button type="submit">Sign In</button>
        </form>
        <div class="spacer-vline"></div>
        <form id="register-form" class="col">
            <label name="userid">User ID</label>
            <input id="register-userid" name="userid" placeholder="User ID"></input>
            <label name="password">Password</label>
            <input id="register-password" type="password" name="password" placeholder="Password"></input>
            <button type="submit">Register</button>
        </form>
        </div>
    </div>     
</body>
</html>